.user-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sensor-large{
    background-color: limegreen;
    font-family: Tahoma, 'Times New Roman', Times, serif;
    font-size: large;
    width: 200px;
    border-radius: 5px;
}

.sensor-value{
    text-align: -webkit-right;
    font-size: larger;
    font-weight: bold;
    /* text-align: -webkit-center; */
    /*padding-right: 0 !important;*/
}

.row-alarms{
    /*margin-left: 0 !important;*/
    /*margin-right: 0 !important;*/
}

.units{
    font-size: medium;
    text-align: left;
}

.alarm1-value, .alarm2-value{
    font-size: medium;
    /*padding-left: 0 !important;*/

}

.alarm-direction{

}

.sensor-type{
    margin: 0 5px 0 5px;
    font-size: smaller;
    text-align: -webkit-left;
    
}

.sensor-description{
    padding-left: 10px;
}

.sensor-block{
    margin-left: 5px;
    margin-bottom: 5px;
}

.controller-channel{
    font-size: small;
    font-weight: normal;
}


.sp2{
    animation-duration: 1000ms;
    animation-name: sp2;
    animation-iteration-count: infinite;
    animation-direction: normal;
    border-radius: inherit;
}
@-webkit-keyframes sp2 {
   from { background-color: red; }
   to { background-color: yellow; }
  }
 @-moz-keyframes sp2 {
   from { background-color: red; }
   to { background-color: yellow; }
 }
 @-ms-keyframes sp2 {
   from { background-color: red; }
   to { background-color: yellow; }
 }
 @-o-keyframes sp2 {
   from { background-color: red; }
   to { background-color: yellow; }
 }
 @keyframes sp2 {
   from { background-color: red; }
   to { background-color: yellow; }
 }

 .sp1{
    background-color: yellow;
    border-radius: inherit;
}

.chfault{
     background-color: #337ab7; 
     border-radius: inherit;
}

.nothealthysensor{
     background-color: gray; 
     border-radius: inherit;
}

.centered-sensors{
  text-align: -webkit-center;
}

.card-deck .card:not(:last-child){
    margin-right: 0px !important;
}
.card-deck .card:not(:last-child){
    margin-left: 0px !important;    
}

/*footer*/
.footer{
    /*position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;*/
    background-color: #f5f5f5;
}

body { 
    padding-top: 70px; 
    padding-bottom: 70px; 
    }

.anchor{
   display:block;
   height:70px; /* this is the height of your header */
   margin-top:-70px; /* this is again negative value of the height of your header */
   visibility:hidden;
}
