.user-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    min-width: 300px;
}

.sensor-large{
    background-color: limegreen;
    font-family: Tahoma, 'Times New Roman', Times, serif;
    font-size: large;
    width: 200px;
    border-radius: 5px;
}

.sensor-value{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    padding-right: 0 !important;
}

.row-alarms{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.units{
    font-size: medium;
}

.alarm1-value, .alarm2-value{
    font-size: medium;
    padding-left: 0 !important;

}

.alarm-direction{

}

.sensor-type{
    margin: 0 5px 0 5px;
    font-size: smaller;
}

.sensor-description{
    padding-left: 10px;
}

.sensor-block{
    margin-left: 5px;
    margin-bottom: 5px;
}

.controller-channel{
    font-size: small;
    font-weight: normal;
}


.sp2{
    animation-duration: 1000ms;
    animation-name: sp2;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@-webkit-keyframes sp2 {
   from { background-color: red; }
   to { background-color: yellow; }
  }
 @-moz-keyframes sp2 {
   from { background-color: red; }
   to { background-color: yellow; }
 }
 @-ms-keyframes sp2 {
   from { background-color: red; }
   to { background-color: yellow; }
 }
 @-o-keyframes sp2 {
   from { background-color: red; }
   to { background-color: yellow; }
 }
 @keyframes sp2 {
   from { background-color: red; }
   to { background-color: yellow; }
 }

 .sp1{

}